.cache
.DS_Store
.idea
.vscode/
.turbo/
*.log
*.tmp
*.temp
*.bak
*.swp
*~
*.tgz
coverage
dist
lib-cov
logs
node_modules
temp
.eslintcache
*.tsbuildinfo
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
